<h2>I converted that for you!</h2>

<p>
  For your copy and pasting pleasure:
</p>

<h2>Dec:</h2>
<h1 id="blue"><%= params[:dec] %></h1>

<h2>Ra:</h2>
<h1 id="blue"><%= params[:ra] %></h1>

<p>Enjoy!</p>