<h1>Converter</h1>

<p>
	Converter turns your f'ed up looking Ra and Dec numbers into numbers that work in WWT!
</p>

<form action="/convert" method="post" accept-charset="utf-8">
	
  <input type="number" name="dec" value="Dec number" id="dec">
  <input type="number" name="ra" value="Ra number" id="ra">
	<br/>
  <input type="submit" value="Convert it!">

</form>

<!-- This converter is super special -->